<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocPac Search | Results</title>
</head>
<body>
    <div class="allresults">
        <form>
            <input type="button" value="Return to homepage" onclick="history.back()">
           </form>
    <% results.forEach(function(results) { %>
        <li> Date: <%= results["DocPac Date"] %>
            <% if (results["Event Date"]) { %>
                Event Date: <%= results["Event Date"] %>
            <% } %>
            <% if (results["Type"]) { %>
                Type: <%= results["Type"] %>
            <% } %>
            <% if (results["Changed Info"]) { %>
                Changed Info: <%= results["Changed Info"] %>
            <% } %>
            <% if (results["Event Text"]) { %>
                Event Text: <%= results["Event Text"] %>
            <% } %>
            <% if (results["Goal Text"]) { %>
                Goal Text: <%= results["Goal Text"] %>
            <% } %>
            <% if (results["Assignment Name"]) { %>
                Assignment Name: <%= results["Assignment Name"] %>
            <% } %>

        </li>
     <% }); %>
    </div> 



</body>
</html>